@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Instrument+Serif&family=Poppins:wght@100&family=Volkhov&display=swap');

* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo-header{
    width: 200px; 
    height: auto; 
}

 #menu .nav a{
    font-family: 'Abhaya Libre', serif;
    color: black; 
    text-decoration: none;
    font-weight: bold;
   
 }

 #menu .nav li {
    margin: 0 10px; 
}

#button {
    border: 1px solid #FF7E3E;
    border-radius: 5px;
    padding: 5px 5px;
}

#button:hover {

    background-color: #FF7E3E;
    border: 1px solid #FF7E3E;
}

 #primero p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem; /* Clase 'fs-5' de Bootstrap para tamaño de texto */
    font-weight: bolder;
    color: #F27405;
    padding-top: 160px;
    padding-left: 100px;
    margin-top: 0%;
}

 #segundo p {
    font-family: 'Volkhov', serif;
    font-size: 2.5rem; /* Clase 'fs-5' de Bootstrap para tamaño de texto */
    font-weight: bolder;
    color: #181E4B;
    padding-left: 100px;
    
    
}

#tercero p {
    font-family: 'Volkhov', serif;
    font-size: 1rem; /* Clase 'fs-5' de Bootstrap para tamaño de texto */
    font-weight: bolder;
    color: #2e2f31;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    #primero p,
    #segundo p,
    #tercero p {
        padding-left: 20px; /* Ajusta el padding izquierdo para dispositivos más pequeños */
    }
}

#button-saber-mas  {
    border: 1px solid #FF7E3E;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 5px;  
    margin-left: 100px;
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
}

#button-saber-mas:hover {
    background-color: #FF7E3E;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 0px 10px 0px;
    margin-top: 120px;
    font-weight: 2px; 
}

.image-container {
    position: relative;
    overflow: hidden; /* Asegura que el SVG no se desborde del contenedor */
}

.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sobre-thomy {
    padding: 80px 20px;
    text-align: center;
  }
  
  .contenido {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    color: #3498db;
  }
  
  h3 {
    color: #e74c3c;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
  }

#servicios {
    background-color: #f4f4f4;
    padding: 50px 0;
    clip-path: polygon(35% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
    
  }
  
  #Categoria {
    text-align: center;
  }
  #Categoria h2 {
    color: #F27405;
}

  #parrafo {
    text-align: center;
    margin-bottom: 30px;
  }
  #parrafo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #181E4B;
    margin-top: 10px;
}
  
  .tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 15px;
  }
  
  .card img {
    max-height: 200px;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  


  .quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 0; /* Ajusta el relleno según tus necesidades */
    margin-top: 120px;
}


.quienes-somos p {
    font-size: 20px;
    color: #F27405;
}

 .contenido{
    width: 800px;
}
.quienes-somos .contenido p{
    color: #5E6282;
    
    align-content: center;
}

.quienes-somos h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #181E4B;
    margin-top: 10px;
}

.quienes-somos .tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quienes-somos .card101,
.quienes-somos .card202,
.quienes-somos .card303 {
    max-width: 180px;
    width: 90%;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto;
}

.quienes-somos .card101 .card-header,
.quienes-somos .card202 .card-header,
.quienes-somos .card303 .card-header{
    min-height: 80px;

}
/* Estilos para el cuerpo de las tarjetas */
.quienes-somos .card101 .card-body,
.quienes-somos .card202 .card-body,
.quienes-somos .card303 .card-body {
    font-size: 20px;
    color: #1E1D4C;
    padding-bottom: 5px;
    min-height: 50px;
}

/* Estilos para el pie de las tarjetas */
.quienes-somos .card101 .card-footer,
.quienes-somos .card202 .card-footer,
.quienes-somos .card303 .card-footer{
    font-size: 12px;
    font-weight: bold;
    color: #5E6282;
    font-family: 'Poppins', sans-serif;
}


  .quienes-somos .card-header img{
    max-width: 150px;
    width: 90%;
   
    
  }

  footer {
    display: block;
}
  .footer-footer {
    background-color: rgba(151, 148, 148, 0.624);
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-right: 0;
}
.principal{
    width: auto;
}
.div-primero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.logo-footer {
    max-width: 100px;
}



.socials-1 img {
    width: 20px;
    margin-right: 15px;
}



#frase {
    margin-top: 20px;
}

#derechos {
    margin-top: 20px;
    color: #777;
}
