@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Instrument+Serif&family=Poppins:wght@100&family=Volkhov&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   

}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}



/* Typography Adjustments */

.header {
    min-height: 10vh;
}

.container-fluid .navbar-brand .logo-header {
    width: 100px; 
    height: auto; 
}
 #menu .nav a{
    font-family: 'Abhaya Libre', serif;
    color: #181E4B; /* Cambia el color del texto según tus preferencias */
    text-decoration: none; /* Elimina la subrayado predeterminado */
    font-weight: bold;
   
 }

 #menu .nav li {
    margin: 0 10px; 
    font-size: 16px;
}


#button {
    border: 1px solid #F27405;
   
    padding: 5px 5px;
}

#button:hover {
    color: white;
    background-color: #F27405;
    border: 1px solid black;
}

/* Adjusting other styles */
/* ... your existing styles ... */

/* Adjustments to testimonial */
.testimony__body {
    border: 1px solid var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}





 
    
  /* Estilo general para la sección de testimonios */
#testimonios {
    background-color: #f9f9f9;
    padding: 50px 0;
    position: relative;
}

/* Estilo para el contenedor de cada testimonio */
.testimony__body {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.testimony__body:hover {
    transform: scale(1.03); 
}

/* Estilo para las imágenes de los testimonios */
.testimony__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

/* Estilo para el texto de los testimonios */
.testimony__texts {
    flex: 1;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimony__review {
    font-size: 16px;
    color: #666;
}

/* Estilo para las flechas del slider */
.testimony__arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.testimony__arrow:hover {
    opacity: 1;
}

/* Posicionando las flechas */
#before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.icono-salida {
    display: inline-block;
    width: 24px;  /* Ajusta según el tamaño deseado para el ícono */
    height: 24px;
    margin: 0 10px;  /* Ejemplo de margen */
    /* ... otros estilos que desees ... */
}

.icono-salida img {
    max-width: 100%;
    height: auto;
    /* ... otros estilos que desees para la imagen dentro del ícono ... */
}



/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para la sección "about" */

.about {
    background-color: #fff; /* Fondo blanco */
    padding: 60px 0; 
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    
}

.about p {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555; /* Un gris oscuro para un contraste suave */
    text-align: left;
}

/* Sección Información */
.information {
    background-color: #f5f9fd; /* Color de fondo más claro que el body */
    padding: 60px 0; 
}

.information h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.information p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.btn-2 {
    display: inline-block;
    padding: 10px 30px;
    background-color: #3179ba; /* Color de fondo azul */
    color: #fff;
    text-decoration: none;
    border-radius: 50px; /* Bordes completamente redondeados para un botón tipo "píldora" */
    transition: background-color 0.3s;
}

.btn-2:hover {
    background-color: #245a85; /* Un azul más oscuro para el hover */
}

.contenedor {
    display: grid;
    place-items: center;  /* Centra en ambas direcciones */
    height: 10vh;        /* Tomar toda la altura de la ventana */
}
/* Estilos para la sección de Testimonios con Slider */

/* Testimony */




.image-section {
    text-align: center;
    padding: 40px 20px;  /* Aumenta el padding vertical para más espacio */
    margin-top: 30px;
    background-color: white; /* Fondo blanco para que se destaque */
    border-radius: 8px; /* Bordes suavemente redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Sombra sutil para darle profundidad */
}

.featured-image {
    width: 95%; /* Ocupa el 95% del ancho disponible de su contenedor */
    max-width: none; /* Sin límite en el ancho máximo */
    display: block;
    margin: 0 auto; /* Centrarla horizontalmente */
    border-radius: 8px; /* Bordes suavemente redondeados */
}

/* --- Estilos de pie de página --- */
/* Estilos para el Footer */

 
 .card {
    width: 90vw;
    max-width: 500px; /* Puedes ajustar el ancho máximo según tus necesidades */
    margin: 2vh auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 75px;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-footer {
    background-color: #1B70A6; /* Puedes ajustar el color de fondo según tus necesidades */
    color: #fff;
    padding: 10px;
    text-align: center;
}

.information-recomendation{
    margin-top: 30px;
}

/* --- Estilos para el contenedor del contenido y el aside --- */
.contenido-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en ambos lados */
}

/* --- Estilos para la tarjeta --- */
.card {
    flex: 1; /* La tarjeta ocupa el espacio restante */
    max-width: 500px; /* Puedes ajustar el ancho máximo según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-right: 75px; /* Ajusta el margen derecho según tus necesidades */
}

/* --- Estilos para el aside --- */
aside {
    flex: 0 0 500px; /* Establece un ancho fijo para el aside */
    background-color: #f0f0f0; /* Ajusta el color de fondo según tus necesidades */
    padding: 50px;
    margin-left: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



#recomendaciones-lista {
    list-style: none;
    padding: 0;
}

#recomendaciones-lista li {
    cursor: pointer;
    margin-bottom: 15px; /* Aumenta el espacio entre elementos de la lista */
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    font-size: 18px; /* Aumenta el tamaño del texto */
    transition: background-color 0.3s ease;
}

#recomendaciones-lista li:hover {
    background-color: #d0d0d0;
}



#slider {
    width: 87%; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el slider */
    height: 300px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    border-radius: 8px;
    
  }
  
  
  #slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .marco-redondo {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    border-radius: 50%; /* Hace que el borde sea redondo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del marco */
  }
  
  .marco-redondo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el marco */
  }



  

  footer {
    display: block;
}
  .footer-footer {
    background-color: rgba(151, 148, 148, 0.624);
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-right: 0;
}
.principal{
    width: auto;
}
.div-primero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.logo-footer {
    max-width: 100px;
}



.socials-1 img {
    width: 20px;
    margin-right: 15px;
}



#frase {
    margin-top: 20px;
}

#derechos {
    margin-top: 20px;
    color: #777;
}
